* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	background: url(../img/body.png) center top no-repeat;
	height: 100%;
}

#mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 0.5; /* firefox chrome and so on */
	filter: alpha(opacity=50); /* IE */
	display: none;
}

#searchTip {
	position: absolute;
	width: 980px;
	height: 800px;
	left: 50%;
	margin-left: -490px;
	display: none;
}

#searchTip div {
	position: absolute;
	display: none;
}

#searchTip div a {
	position: absolute;
	width: 95px;
	height: 32px;
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
}

#searchTip div span {
	position: absolute;
	height: 30px;
	width: 30px;
	text-indent: -999px;
	overflow: hidden;
	cursor: pointer;
}

.stepA {
	width: 745px;
	height: 329px;
	background: url(../img/guide11.png);
	top: 131px;
	left: -9px;
}

.stepA a {
	top: 231px;
	left: 490px;
}

.stepA span {
	top: 144px;
	left: 683px;
}

.stepB { 
	background: url(../img/guide21.png); 
	width: 647px; 
	height: 405px;
	top: 2px; 
	left: 324px;
}

.stepB a {
	top: 308px; 
	left: 146px;
}

.stepB span { 
	top: 196px; 
	right: 285px; 
}

.stepC { 
	background: url(../img/guide31.png); 
	width: 654px; 
	height: 257px;
	top: 294px; 
	left: 318px;
}

.stepC a {
	top: 155px; 
	left: 400px; 
}

.stepC span { 
	top: 44px; 
	right: 35px; 
}

.stepD { 
	background: url(../img/guide41.png); 
	width: 558px; 
	height: 348px;
	top: 78px; 
	left: 155px;
}

.stepD a {
	top: 246px; 
	left: 304px;
}

.stepD span { 
	top: 135px; 
	right: 35px; 
}

.stepE { 
	background: url(../img/guide51.png); 
	width: 397px; 
	height: 342px;
	top: 79px; 
	left: 250px;
}

.stepE a {
	top: 245px; 
	left: 153px;
}


